<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/brewmeister</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- this same user exists in the prod database on AWS -->
        <property name="connection.username">brewmeister</property>
        <property name="connection.password">letsmakesomebeer</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <!-- show or don't show SQL -->
        <property name="show_sql">false</property>

        <mapping class="com.lukebusch.entity.User" />
        <mapping class="com.lukebusch.entity.Batch" />
        <mapping class="com.lukebusch.entity.Role" />
        <mapping class="com.lukebusch.entity.Style" />
    </session-factory>
</hibernate-configuration>