.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
}

.container {
    background-color: aliceblue;
}

body {
    /* official light blue color of bavaria*/
    background-color: #0099D5;
}

.panel {
    padding: 0px;
}

.responsive-image {
   max-width: 45%;
   height: auto;
}