.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

.padding-bottom-1 {
    padding-bottom: 1em;
}

.padding-bottom-2 {
    padding-bottom: 2em;
}

margin-bottom-1 {
    margin-bottom: 1em;
}

margin-bottom-2 {
    margin-bottom: 2em;
}